<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
</head>
<body>
  <nav layout:fragment="header" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ホーム</a>
      </div>
      <form method="get" th:action="@{/user/question}">
        <input type="submit" value="質問する"  class="btn btn-primary" />
      </form>
      <form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト"  class="btn btn-primary " />
      </form>
    </div>
  </nav>
</body>
</html>